@import "tailwindcss";
@plugin "daisyui";

:root {
  --primary: #05893E;
  --primary-strong: #047F39;
  --secondary: #f5f5f5;
  --accent: #ffd700;
  --text-primary: #111827;
  --base-content: #1D271F;
  --bg-blue-100: #FAFCFA;
  --bg-blue-200: #F0F5F0;
  --bg-blue-300: #E1E8E1;
}